body {
  overflow: hidden;
}

/* HEADER*/

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;

} 

/* FOOTER */

#footer-unite {
  width: 50px !important;
  margin-top: -10px;
}

/* CONTENT */

.content-list {
  padding-left: 30px;
}

.main-container .sections-row {
  padding-top: 20px !important;
}

.pretty {
    font: 400 36px/1.4 'cardo';
    font-style: italic;
}

/* TITLES */

.titles {
  border-bottom: #00adef solid 3px;
  padding-bottom: 7px;
  margin-bottom: 9px;
}
span.topic {
  font-size: 18.2px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: #4d4d4d;
}

/* VIZ */

#scroll-container {
  overflow: auto;
}
#section-break {
  padding-top: 50px;
}

.kpi-text{
  text-transform: uppercase;
  font-size : 24px;
  font-weight: 350;
  margin-bottom: -40px;
  padding-top:10px;
}
/* Qlik KPI text: this class created by Qlik App */
.ellips-text{
  font-size : 26px;
}

.clear-button-wrapper{
  text-align:right;
}

.btn-primary{
  background-color : #00adef;
}

/*** MODAL ***/

.modal-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #4d4d4d;
  text-transform: uppercase;
  text-align: center;
}
.modal-header {
  border-bottom: none;
  margin-top: 20px;
}
.modal-footer {
  border-top: none;
}
.modal-body {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

#deptLogo {
  height: auto;
  width: auto;
  display: inline;
}

#aboutModal .modal-body{
  text-align : center;
}

#contactModal .modal-body{
  text-align : left;
}

/* MAIN IMAGE */
.parallax {
  color: white;
  background-image: url("../img/UNGA.jpg");
  background-size: cover;
  background-position: top center;
  width: 100%;
  height : 300px;
  background-blend-mode: soft-light;
}

.parallax h1 {
  text-align : center;
  padding-top : 130px;
  font-weight: 500;
  font-size: 48px;
  line-height: 45px;
  letter-spacing: -0.02em;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

.caption {
  text-align : right;
  padding-right: 70px;
  padding-top : 5px;
  color : #4d4d4d;
  font-style : italic;
}

.disclaimer {
  text-align : center;
  color : #000000;
  font-weight: 700;
  padding-top : 20px;
  padding-bottom : 20px;
}

/* NAVBAR*/
#navbar {
  background : #4d4d4d;
  margin-bottom : 20px;
}
.navbar-header {
    padding-bottom: 0;
}
.collapse navbar-collapse{
  height : 10px !important;
}

.navbar-collapse{
  padding-left : 0px;
}

.navbar-nav li{
  border-right : 1px solid white;
}

.navbar-nav li a{
  color:white;
  line-height : 1px !important;
  font-weight : 500;
}

.navbar-nav li a i{
  color:white;
  line-height : 1px !important;
}

.navbar-nav li a:hover{
  color:black;
  font-weight : 400;
}

.navbar-nav li a:active{
  color:white;
}


.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}

/* Selections */
.borderbox{
    background-color: #f2f2f2 !important;
     color: #555656 !important;
     border-bottom: 0px !important;
}

.no-selection, div#CurrentSelections .item, i.icon-cancel{
    color:#555656 !important;
}

/* Legend */
.legend{
    padding-top:1px;
    padding-bottom:1px;
}
.square{
    width:15px;
    height:15px;
    font-size:12px;
    line-height:15px;
    text-align:left;
}
.info{
    color:#555656;
    margin-top:-15px;
    margin-left:20px;
    line-height:15px;
}



/* ========myCarousel======== */
.carousel{
    margin-top: 20px;
    height:700px !important;
    width:100% !important;
}
.carousel-img{
    height: 700px !important;
    width: 100% !important;
}
/* zoom effect */
.carousel-div img {
    -webkit-animation: mymove 8s 1 ease-out forwards; /* Chrome, Safari, Opera */
    animation: mymove 8s 1 ease-out forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    0% {
        -webkit-transform:scale(1.0);
        -o-transform:scale(1.0); /* Opera */
    }
    100% {
        -webkit-transform:scale(1.3)  rotate(0.1deg) ;
        -o-transform:scale(1.3) rotate(0.1deg); /* Opera */
    }
}

/* Standard syntax */
@keyframes mymove {
    0% {
        -moz-transform:scale(1.0); /* Firefox */
        -ms-transform:scale(1.0); /* IE 9 */
        transform:scale(1.0);
    }
    100% {
        -webkit-transform:scale(1.3)  rotate(0.1deg) ;
        -o-transform:scale(1.3) rotate(0.1deg); /* Opera */
    }
}

/* carousel */
.carousel-caption {
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    left:0;
    width:100%;
    height: 90px;
	margin-bottom: 60px;
	z-index: 2;
    font-size: 22px;
    text-align: center;
}

.carousel-indicators {
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    margin-left:0;
    vertical-align: middle;
    left:0;
    width:100%;
    height:18px;
    top: 90%;
    z-index: 9;
}

/* back to filter */
.back-to { 
    position:fixed;
    bottom:10px;
    left:10px;
    opacity: 0.7;
    z-index: 20;
}


/* hr format */
hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

