<div class="main-container container">
    <div class="row sections-row">
    
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-pause="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item  carousel-div active">
                    <img src="480896.jpg" alt="UNICEF Offers Mine Awareness Programme for Iraqi Children" class='carousel-img'>
                    <div class="carousel-caption">UNICEF Offers Mine Awareness Programme for Iraqi Children<br><span style="font-size:14px">UN Photo/Bikem Ekberzade</span></div>
                </div>
                <div class="item carousel-div">
                    <img src="511961.jpg" alt="Secretary-General Visits UNODC Project in Shan State, Myanmar" class='carousel-img'>
                    <div class="carousel-caption">Secretary-General Visits UNODC Project in Shan State, Myanmar<br><span style="font-size:14px">UN Photo/Mark Garten</span></div>
                </div>
                <div class="item carousel-div">
                    <img src="574217.jpg" alt="MINUSMA Supports Agricultural Development Projects Near Timbuktu" class='carousel-img'>
                    <div class="carousel-caption">MINUSMA Supports Agricultural Development Projects Near Timbuktu<br><span style="font-size:14px">UN Photo/Marco Dormino</span></div>
                </div>
            </div>

            <!-- Left and right controls 
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>-->
        </div>
    </div>
</div>
