<div class="main-container container">
    <div class="row sections-row">
        <div class="col-md-12">
            <div class="titles">
                <!--<span class="topic">Introduction</span>-->
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="480896_2.jpg" alt="UNICEF Offers Mine Awareness Programme for Iraqi Children"  width="100%">
                </div>
                <div class="col-md-8" style="vertical-align:middle;">
                    <div>
                        <p>By aggregating and comparing data from different UN entities, <a href='http://undatacatalog.org' target="_blank">the UN system data catalog</a> gives us the ability to obtain a much more comprehensive understanding of the UN system. This visualization presents a budget breakdown from nearly 30 thousand project-based activities reported by 6 organizations: <a href='http://undatacatalog.org/search-datasets/byorganization?f[0]=field_org%3A1903&f[1]=field_data_standard%3A50' target="_blank">United Nations Children's Fund (UNICEF)</a>, United Nations Development Programme (UNDP), <a href='http://undatacatalog.org/search-datasets/byorganization?f[0]=field_org%3A1915&f[1]=field_data_standard%3A50' target="_blank">United Nations Office for Project Services (UNOPS)</a>, United Nations Population Fund (UNFPA), <a href='http://undatacatalog.org/search-datasets/byorganization?f[0]=field_org%3A1927&f[1]=field_data_standard%3A50' target="_blank">World Food Programme (WFP)</a> and World Bank Group. </p>
                        <p>The first section aggregates the data to illustrate an insight into the number of activities and total committed funds; the second section lists top recipient countries and top funding organizations; the third section provides a financial summary of budgetary commitments, incoming funds and expenditure; and the fourth section contains a table that displays title and description of activities.</p>
                        <p>This dashboard is based on extracts on Mar 28th, 2016.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row sections-row">
        <div class="col-md-12">
            <div class="titles">
                <span class="topic">I. Number of Activities and Total Committed Funds</span>
            </div>
        </div>
        <div class="col-md-12">
            <!-- KPI -->
            <div class="row" style="padding-top:40px" >
                <div class="col-md-6">
                    <!--Activities KPI-->
                    <div style="width:70%;text-align:center;margin:auto">
                        <i class="fa fa-group fa-4x"></i>
                        <div class="kpi-text">Number <br>of Activities</div>
                        <div id="activity-kpi" class="qvobject kpi-qlik-text" style="height:100px"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!--Budget KPI-->
                    <div style="width:70%;text-align:center;margin:auto">
                        <i class="fa fa-dollar fa-4x"></i>
                        <div class="kpi-text">Total Committed Funds<br><span style="font-size:14px">(Thousands of United States Dollars)</span>
                        </div>
                        <div id="budget-kpi" class="qvobject kpi-qlik-text" style="height:100px"></div> 
                    </div>
                </div>
            </div>
            <!-- Year Bar -->
            <div class="row" style="padding-top:20px" >
                <div class="col-md-1" >
                    <div class='legend'>
                        <div class="square" style="background-color:rgb(162,221,249)"></div>
                        <div class="info">World Bank Group</div>
                    </div>
                    <div class='legend'>
                        <div class="square" style="background-color:rgb(42,168,224)"></div>
                        <div class="info">World Food Programme</div>
                    </div>
                    <div class='legend'>
                        <div class="square" style="background-color:rgb(0,156,219)"></div>
                        <div class="info">United Nations Population Fund</div>
                    </div>
                    <div class='legend'>
                        <div class="square" style="background-color:rgb(105,152,201)"></div>
                        <div class="info">United Nations Office for Project Services</div>
                    </div>
                    <div class='legend'>
                        <div class="square" style="background-color:rgb(27,117,187)"></div>
                        <div class="info">United Nations Development Programme</div>
                    </div>
                    <div class='legend'>
                        <div class="square" style="background-color:rgb(47,95,123)"></div>
                        <div class="info">UNICEF</div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h5 style="text-align:center;padding-bottom:20px;padding-top:0px">Number of Activities by Year<br><small> <br></small></h5>
                    <div id="activity-year" class="qvobject" style="width:400px;height:300px;margin:auto">
                    </div>
                </div>
                <div class="col-md-6">
                    <h5 style="text-align:center;padding-bottom:20px;padding-top:0px">Total Committed Funds by Year<br><small>(Thousands of United States Dollars)</small></h5>
                    <div id="budget-year" class="qvobject" style="width:400px;height:300px;margin:auto"></div>
                </div>
            </div>
            <!-- Pie -->
            <div class="row" style="padding-top:40px" >
                <div class="col-md-6">
                    <h5 style="text-align:center;padding-bottom:20px;padding-top:0px">Number of Activities by Status</h5>
                    <div id="activity-status" class="qvobject" style="width:80%;height:300px;margin:auto">
                    </div>
                </div>
                <div class="col-md-6">
                    <h5 style="text-align:center;padding-bottom:20px;padding-top:0px">Total Committed Funds by Type of Funding Organizations</h5>
                    <div id="budget-org-type" class="qvobject" style="width:80%;height:300px;margin:auto"></div>
                </div>
            </div>
            <div>
                <hr>
                <div id="filtergroup"></div>
                <p>Use the filters below to discover committed funds by activity starting year, reporting organization, recipient country, funding organization and implementing organization. You can clear the filters by removing your selections in the bar below.</p>
            </div>
            <!-- filter -->
            <div class="row">
                <div class="col-md-12">
                    <div id='CurrentSelections'  class="qvobjects" style="padding-top:12px;padding-left:20px;padding-right:20px">
                </div>
                </div>
                <div class="col-md-12" style="padding-top:20px">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="filter-year" class="qvobject" style="width:100%;height:50px;margin:auto"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="filter-reporting-org" class="qvobject" style="width:100%;height:50px;margin:auto"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="filter-recipient" class="qvobject" style="width:100%;height:50px;margin:auto"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div id="filter-funding" class="qvobject" style="width:100%;height:50px;margin:auto"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="filter-implementing" class="qvobject" style="width:100%;height:50px;margin:auto"></div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>  
    
    <div class="row sections-row">
        <div class="col-md-12">
            <div class="titles">
                <span class="topic">II. Recipient Countries and Funding Organizations</span>
            </div>
        </div>
        <div class="row" style="padding-top:40px" >
            <h5 style="text-align:center;padding-bottom:20px;padding-top:0px">Map of Recipient Countries<br><small>(Thousands of United States Dollars)</small></h5>
            <div id="top-recipients-map" class="qvobject" style="width:60%;height:440px;margin:auto;">
            </div>
            <p><small>* <strong>Disclaimer</strong>: The designations employed and the presentation of material on this map do not imply the expression of any opinion whatsoever on the part of the Secretariat of the United Nations concerning the legal status of any country, territory, city or area or of its authorities, or concerning the delimitation of its frontiers or boundaries.<br>* Map Location Data: <a href='https://opendata.socrata.com/dataset/Country-List-ISO-3166-Codes-Latitude-Longitude/mnkm-8ram' target="_blank" rel="nofollow">OpenData</a></small></p>
            
            <h5 style="text-align:center;padding-bottom:20px;padding-top:0px">Recipient Countries <br><small>(Thousands of United States Dollars)</small></h5>
            <div id="top-recipients" class="qvobject" style="width:80%;height:300px;margin:auto">
            </div>
        </div>
        <div class="row" style="padding-top:40px" >
            <h5 style="text-align:center;padding-bottom:20px;padding-top:0px">Funding Organizations <br><small>(Thousands of United States Dollars)</small></h5>
                <div id="top-funding-org" class="qvobject" style="width:80%;height:300px;margin:auto"></div>
        </div>
    </div>
    <!--Finance-->
    <div class="row sections-row">
        <div class="col-md-12">
            <div class="titles">
                <span class="topic">III. Financial Summary</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <h5 style="text-align:center;padding-bottom:20px;padding-top:60px;">Commitment<br><small>(Thousands of United States Dollars)</small></h5>
                    <div id='total-commitment' class="qvobject" style="width:100%;height:300px">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <h5 style="text-align:center;padding-bottom:20px;padding-top:0px">Incoming Funds <br><small>(Thousands of United States Dollars)</small></h5>
                            <div id='total-incoming' class="qvobject" style="width: 100%;height:200px">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5 style="text-align:center;padding-bottom:20px;padding-top:0px">Disbursement<br><small>(Thousands of United States Dollars)</small></h5>
                            <div id='total-disbursement' class="qvobject" style="width:100%;height:200px">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h5 style="text-align:center;padding-bottom:20px;padding-top:0px">Expenditure<br><small>(Thousands of United States Dollars)</small></h5>
                            <div id='total-expenditure' class="qvobject" style="width:100%;height:200px">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h5 style="text-align:center;padding-bottom:20px;padding-top:0px">Interest Repayment<br><small>(Thousands of United States Dollars)</small></h5>
                            <div id='total-interest' class="qvobject" style="width:100%;height:200px">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h5 style="text-align:center;padding-bottom:20px;padding-top:0px">Loan Repayment <br><small>(Thousands of United States Dollars)</small></h5>
                            <div id='total-loan' class="qvobject" style="width:100%;height:200px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>Description of each category is as follows (source: <a href='http://iatistandard.org/201/codelists/TransactionType/' target="_blank" rel="nofollow">International Aid Transparency Initiative</a>):</p>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Commitment</td>
                            <td>A firm, written obligation from a donor or provider to provide a specified amount of funds, under particular terms and conditions, for specific purposes, for the benefit of the recipient.</td>
                        </tr>
                        <tr>
                            <td>Incoming Funds</td>
                            <td>Funds recieved for use on the activity, which can be from an external or internal source.</td>
                        </tr>
                        <tr>
                            <td>Disbursement</td>
                            <td>Outgoing funds that are placed at the disposal of a recipient government or organisation, or funds transferred between two separately reported activities.Under IATI traceability standards the recipient of a disbursement should also be required to report their activities to IATI.</td>
                        </tr>
                        <tr>
                            <td>Expenditure</td>
                            <td>Outgoing funds that are spent on goods and services for the activity. The recipients of expenditures fall outside of IATI traceability standards.</td>
                        </tr>
                        <tr>
                            <td>Interest Repayment</td>
                            <td>The actual amount of interest paid on a loan or line of credit, including fees.</td>
                        </tr>
                        <tr>
                            <td>Loan Repayment</td>
                            <td>The actual amount of principal (amortisation) repaid, including any arrears.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--table-->
        <div class="row sections-row">
            <div class="col-md-12">
                <div class="titles">
                    <span class="topic">IV. Activity Details</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div id='table' class="qvobject" style="width:100%;height:400px">
                    </div>
                    <div><p>Data Source: <a href='http://undatacatalog.org/' target="_blank">United Nations System Data Catalog</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<hr class='style-three'>
    <div>
    1/ When the percentage of funds that a country receives is null value, it is estimated with (1 / number of recipient countries * 100) %
    </div>-->
</div>

<!-- back to filter button-->
<a ng-click="scrollTo('filtergroup')" class='back-to btn btn-small btn-info'><i class="fa fa-filter fa-1x" style="color:white;"><small> Back to Filter</small></i></a>