<!-- NAVIGATION BAR -->
<div id="brand-bar" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container brandbar-header">
    <div class="row">
      <div class="col-md-3">
        <a class="navbar-brand" href="http://www.un.org/en/index.html" target="_blank">Welcome to the United Nations</a>
      </div>
    </div>
  </div>
</div>
<a id="home"> </a>

<header id="header-title" class="container">
  <div class="row">
    <div class="navbar-header">
      <img src="img/logos/logo.png" alt="Home" class="noprint" />
      <a id="Title" class="name navbar-brand" href="#/#filtergroup" title="Home">UN Data Catalog Visualization</a>
    </div>
  </div>
  <!--<div class="row">
    <div id="navbar">
      Collect the nav links, forms, and other content for toggling
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#UN-Data-Catalog-visualization">Visualization</a></li>
        </ul>
      </div>
    </div>
  </div>-->
</header>

<!-- NAVBAR -->
